<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>TBAP - Connexion</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="icon" type="image/png" href="{{ asset('img/favicon.PNG') }}" />
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <!-- Logo -->
            <div class="row hidden-xs topper">
                <div style="margin-left: 25%; margin-right: 25%;">
                    <img am-TopLogo alt="logo"  src="{{ asset('img/TBAP_logo3.PNG') }}" class="img-responsive">
                </div>    
            </div>
            <div id="content" class="col-md-9">
                {% block body %}
                    <br>
                {% endblock %}
            </div>
        </div>
    </body>
</html>

