{% extends "CDRProjetBundle::layout.html.twig" %}
{% block projet_body %}

    <div class="well">

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}

        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.NumLDR, "Numéro de la LDR : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.NumLDR) }}        
            {# Génération de l'input. #}
            <div class="col-sm-6">
                {{ form_widget(form.NumLDR) }}
            </div>
        </div>

        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.Nom, "Libellé projet : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.Nom) }}
            <div class="col-sm-6">
                {# Génération de l'input. #}
                {{ form_widget(form.Nom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.Referent, "Référent projet : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.Referent) }}
            <div class="col-sm-6">
                {# Génération de l'input. #}
                {{ form_widget(form.Referent, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.agent1, "Agent : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.agent1) }}
            <div class="col-sm-6">
                {# Génération de l'input. #}
                {{ form_widget(form.agent1, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.agent2, "Agent : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.agent2) }}
            <div class="col-sm-6">
                {# Génération de l'input. #}
                {{ form_widget(form.agent2, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>


        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.agent3, "Agent : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.agent3) }}
            <div class="col-sm-6">
                {# Génération de l'input. #}
                {{ form_widget(form.agent3, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.agent4, "Agent : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.agent4) }}
            <div class="col-sm-6">
                {# Génération de l'input. #}
                {{ form_widget(form.agent4, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.agent5, "Agent : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.agent5) }}
            <div class="col-sm-6">
                {# Génération de l'input. #}
                {{ form_widget(form.agent5, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        <div style="text-align:center">
            {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn btn-dark'}}) }}
        </div>

        {# Génération automatique des champs pas encore écrits.
           Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
           et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}

    </div>
    <a href="{{ path('cdr_projet_homepage') }}"> <button type="button" class="btn btn-dark">Revenir à la liste des projets </button> </a>
    <script>
        $(document).ready(function () {
            $('select').on('change', function (event) {
                //Afficher la valeur précédente
                var prevValue = $(this).data('previous');
                $('select').not(this).find('option[value="' + prevValue + '"]').show();
                // Cacher la valeur sélectionner dans les autres listes              
                var value = $(this).val();
                $(this).data('previous', value);                
                $('select').not(this).find('option[value="' + value + '"]').hide();
                // Cas particulier du "Sélectionner un agent"
                $('select').not(this).find('option[value=""]').show();                 

            });
        });
        </script>

{% endblock %}