{% extends "CDRProjetBundle::layout.html.twig" %}
{% block projet_body %}

    {% if is_granted('ROLE_ADMIN') %} <a href="{{ path('cdr_projet_ajouter') }}"> <button type="button" class="btn btn-dark">Ajouter un projet </button> </a> {% endif %} <br>
    {% for message in app.flashes ('notice') %}

        <div class="flash">
            {{ message }}
        </div>

    {% endfor %}

    <table class="table">
        <thead>
            <tr>
                <th style="text-align: center">N°LDR</th>
                <th style="text-align: center;">Projet</th>
                <th style="text-align: center;">Agents</th>
                <th style="text-align: center;">Etat</th>
                <th style="text-align: center;">Action</th>

            </tr>
        </thead>
        <tbody>
            {% for projet in projets %}
                <tr>
                    <td style="text-align: center;"> {{ projet.numLdr }} </td>
                    <td style="text-align: center;"> {{ projet.nom }} </td>
                    <td style="text-align: center;">

                        {% if projet.referent is null %} {% else %} <b> {{ projet.referent.prenom }} {{ projet.referent.nom }}</b> <br> {% endif %}  
                        {% if projet.agent1 is null %} {% else %}  {{ projet.agent1.prenom }} {{ projet.agent1.nom }} <br>  {% endif %} 
                        {% if projet.agent2 is null %} {% else %}  {{ projet.agent2.prenom }} {{ projet.agent2.nom }} <br>  {% endif %} 
                        {% if projet.agent3 is null %} {% else %}  {{ projet.agent3.prenom }} {{ projet.agent3.nom }} <br>  {% endif %} 
                        {% if projet.agent4 is null %} {% else %}  {{ projet.agent4.prenom }} {{ projet.agent4.nom }} <br>  {% endif %} 
                        {% if projet.agent5 is null %} {% else %}  {{ projet.agent5.prenom }} {{ projet.agent5.nom }} <br>  {% endif %} 

                    </td>
                    <td style="text-align: center;"> {% if projet.termine %} Terminé {% else %} En cours {% endif %} </td>
                    <td style="text-align: center;"> 
                        <a href="{{ path('cdr_projet_consulter', {'id': projet.id}) }}" class="btn btn-primary btn-xs" style="width: 24px; height: 22px;">
                            <i style="margin-top:25%;" class="glyphicon glyphicon-zoom-in"></i>                                
                        </a>
                        <a href="{{ path('cdr_projet_supprimer', {'id': projet.id}) }}" class="btn btn-danger btn-xs" style="width: 24px; height: 22px;">
                            <i style="margin-top:25%;" class="glyphicon glyphicon-trash"></i>                                
                        </a>

                    </td> 

                </tr>
            {% endfor %}    
        </tbody>
    </table>

    <br>


{% endblock %}

