{% extends "CDRProjetBundle::layout.html.twig" %}
{% block projet_body %}
{% set numerojour = "now"|date('w') %}
{% set dateDebSemaine = "now"|date_modify("-" ~ numerojour ~ " day")|date_modify('+1 days') %}
{% set dateFinSemaine = "now"|date_modify("-" ~ numerojour ~ " day")|date_modify('+5 days') %}
<script>
var date = new Date();
var dateDebS =  new Date(date.setDate(date.getDate()-date.getDay()+1)).toLocaleDateString();
var dateFinS =  new Date(date.setDate(date.getDate()-date.getDay()+5)).toLocaleDateString();
var dateDebS2 =  new Date(date.setDate(date.getDate()-date.getDay()+8)).toLocaleDateString();
var dateFinS2 =  new Date(date.setDate(date.getDate()-date.getDay()+5)).toLocaleDateString();
</script>


Mes projets en cours  : 
<ul>
{% for monprojet in mesprojets %}
<li> {{ monprojet.nom }} </li>
 {% endfor %}
</ul>

    <br>
    <table class="table table-bordered table-hover table-sortable" id="planning">
        <thead>
            <tr>
                <!-- <th colspan="6" style="text-align: center; font-size:70%; vertical-align: middle; column-width:100%;"> <a onclick="afficherSemainePrec"> <i class="glyphicon glyphicon-chevron-left"></i></a>  Semaine du {{dateDebSemaine|date('d/m/Y')}} au {{dateFinSemaine|date('d/m/Y')}} <a href="#"> <i class="glyphicon glyphicon-chevron-right"></i></a> </th> -->
                                                               <th> </th>
                                                               <th colspan="5" style="text-align: center; font-size:70%; vertical-align: middle; column-width:100%;">  Semaine du <script> document.write(dateDebS) </script> au <script> document.write(dateFinS) </script> </th>
                                                               <th colspan="5" style="text-align: center; font-size:70%; vertical-align: middle; column-width:100%;">  Semaine du <script> document.write(dateDebS2) </script> au <script> document.write(dateFinS2) </script> </th>
                                               </tr>
            <tr>
                <th style="text-align: center; font-size:70%; vertical-align: middle; width:25%;">  </th>    
                <th style="text-align: center; font-size:70%; vertical-align: middle; width:5%;"> Lundi </th>                
                <th style="text-align: center; font-size:70%; vertical-align: middle; width:5%;"> Mardi  </th>
                <th style="text-align: center; font-size:70%; vertical-align: middle; width:5%;"> Mercredi  </th>
                <th style="text-align: center; font-size:70%; vertical-align: middle; width:5%;"> Jeudi </th>
                <th style="text-align: center; font-size:70%; vertical-align: middle; width:5%;"> Vendredi  </th>
				<th style="text-align: center; font-size:70%; vertical-align: middle; width:5%;"> Lundi </th>                
                <th style="text-align: center; font-size:70%; vertical-align: middle; width:5%;"> Mardi  </th>
                <th style="text-align: center; font-size:70%; vertical-align: middle; width:5%;"> Mercredi  </th>
                <th style="text-align: center; font-size:70%; vertical-align: middle; width:5%;"> Jeudi </th>
                <th style="text-align: center; font-size:70%; vertical-align: middle; width:5%;"> Vendredi  </th>
            </tr>    
        </thead>
        <tbody>
            {% for agent in agents %}
                <tr>
                    <td> {{agent.prenom}} {{agent.nom}} </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                <tr>
            {% endfor %}
        </tbody>
    </table>
<script>	
(function ($, window) {
    $.fn.contextMenu = function (settings) {
        return this.each(function () {
            // Open context menu
            $(this).on("contextmenu", function (e) {               
                //open menu
                var $menu = $(settings.menuSelector)
                    .data("invokedOn", $(e.target))
                    .show()
                    .css({
                        position: "absolute",
						left: getMenuPosition(e.clientX, 'width', 'scrollLeft')-getXPosition(planning),
                        top: getMenuPosition(e.clientY, 'height', 'scrollTop')-getYPosition(planning)
                    })
                    .off('click')
                    .on('click', 'a', function (e) {
                        $menu.hide();              
                        var $invokedOn = $menu.data("invokedOn");
                        var $selectedMenu = $(e.target);                        
                        settings.menuSelected.call(this, $invokedOn, $selectedMenu);
                    });                
                return false;
            });

            //make sure menu closes on any click
            $('body').click(function () {
                $(settings.menuSelector).hide();
            });
        });
        
        function getMenuPosition(mouse, direction, scrollDir) {
			var win = $(window)[direction](),
                scroll = $(window)[scrollDir](),
                menu = $(settings.menuSelector)[direction](),
                position = mouse + scroll;
                        
            // opening menu would pass the side of the page
            if (mouse + menu > win && menu < mouse) 
                position -= menu;  	
            return position;
        }
		
function getXPosition(element) {
   var rect = element.getBoundingClientRect();
   var x = rect.left;
   return x;
}

function getYPosition(element) {
   var rect = element.getBoundingClientRect();
   var y = rect.top;
   return y;
}			
    };
})(jQuery, window);

$("#planning>tbody>tr td").contextMenu({
    menuSelector: "#contextMenu",
    menuSelected: function (invokedOn, selectedMenu) {
        var msg = "You selected the menu item '" + selectedMenu.text() +
            "' on the value '" + invokedOn.text() + "'";
        alert(msg);
    }
});
</script>    	

<ul id="contextMenu" class="dropdown-menu" role="menu" style="display:none" >
    <li><a tabindex="-1" href="#" data-dismiss="modal">Ajouter une activité</a></li>
    <li><a tabindex="-1" href="#">Modifier une activité</a></li>
    <li><a tabindex="-1" href="#">Supprimer une activité</a></li>
</ul>
        

{% endblock %}
